*{
    box-sizing: border-box;
 
}




.active-link{

    background-color: coral;
    color: darkblue;

}

nav{
background-color: lightsalmon;
}

nav ul{
    display:flex;
    justify-content: space-between;
    width:100%;

}